#showcase{
    background-image: url('../images/home page.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    margin-top:180px;
    min-height:250px;
    height:100%;
    width:100%
}

#picture{
    background-image: url('../images/about page.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    margin:100px 0;
    min-height:250px;
    height:400px;
}

#picture2{
    background-image: url('../images/project page.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    margin:100px 0;
    min-height:250px;
    height:450px;
}

#picture3{
    background-image: url('../images/project overview.png');
    background-position:center;
    background-repeat: no-repeat;
    margin:0;
    min-height:250px;
    height:700px;
}

#picture4{
    background-image: url('../images/location.png');
    background-position:center;
    background-repeat: no-repeat;
    margin:100px 0;
    min-height:250px;
    height:500px;
}

#picture5{
    background-image: url('../images/local.png');
    background-position:center;
    background-repeat: no-repeat;
    margin:100px 0;
    min-height:250px;
    height:565px;  
}

#picture6{
    background-image: url('../images/project layout.jpg');
    background-position:center;
    background-repeat: no-repeat;
    margin:100px 0;
    min-height:250px;
    height:555px;
}

#picture7{
    background-image: url('../images/zambia electricity.jpg');
    background-position:center;
    background-repeat: no-repeat;
    margin:10px 0;
    min-height:250px;
    height:350px;
}

#picture8{
    background-image: url('../images/power evacuation.jpg');
    background-position:center;
    background-repeat: no-repeat;
    margin:10px 0;
    min-height:250px;
    height:700px;
}

#picture9{
    background-image: url('../images/e and s.png');
    background-position:center;
    background-repeat:no-repeat;
    margin:100px 0;
    min-height:250px;
    height:400px;
}

#picture10{
    background-image: url('../images/project finance.png');
    background-position: center;
    background-repeat: no-repeat;
    margin:10px 0;
    min-height:250px;
    height:550px;
    max-width:1000px;
}

#picture11{
    background-image: url('../images/BRE.PNG');
    background-position: left;
    background-repeat: no-repeat;
    margin:8px 10%;
    min-height:100px;
    height:220px;
}

#picture12{
    background-image: url('../images/APP.PNG');
    background-position: left;
    background-repeat: no-repeat;
    margin:8px 10%;
    min-height:40px;
    height:100px;
}

#picture13{
    background-image: url('../images/ICA.png');
    background-position: left;
    background-repeat: no-repeat;
    margin:8px 10%;
    min-height:100px;
    height:150px;
}

#picture14{
    background-image: url('../images/DBSA.png');
    background-position: left;
    background-repeat: no-repeat;
    margin:8px 10%;
    min-height:100px;
    height:150px;
}

#picture15{
    background-image: url('../images/MM.png');
    background-position: left;
    background-repeat: no-repeat;
    margin:8px 10%;
    min-height:100px;
    height:150px;
}

#picture16{
    background-image: url('../images/DHEC.png');
    background-position: left;
    background-repeat: no-repeat;
    margin:8px 10%;
    min-height:100px;
    height:100px;
}

#picture17{
    background-image: url('../images/WAC.png');
    background-position: left;
    background-repeat: no-repeat;
    margin:8px 10%;
    min-height:100px;
    height:100px;
}

#picture18{
    background-image: url('../images/AECOM.png');
    background-position: left;
    background-repeat: no-repeat;
    margin:8px 10%;
    min-height:100px;
    height:100px;
}

#picture19{
    background-image: url('../images/DLAP.png');
    background-position: left;
    background-repeat: no-repeat;
    margin:8px 10%;
    min-height:100px;
    height:200px;
}

#picture20{
    background-image: url('../images/CAC.png');
    background-position: left;
    background-repeat: no-repeat;
    margin:8px 10%;
    min-height:100px;
    height:100px;
}

#picture21{
    background-image: url('../images/KPMG.png');
    background-position: left;
    background-repeat: no-repeat;
    margin:8px 10%;
    min-height:50px;
    height:150px;
}

@media screen and (max-width:900px){
    #showcase{
        background-image: url('../images/home page mobile.jpg');
        background-position:center;
        width:100%;
        height:100%;
    }
    
    #picture{
        background-image: url('../images/about page mobile.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        margin:50px 0;
        min-height:150px;
        height:250px;
    }
    
    #picture2{
        background-image: url('../images/project page mobile.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        margin:100px 0;
        min-height:250px;
        height:200px;
    }
    
    #picture3{
        background-image: url('../images/project overview mobile.png');
        background-position:center;
        background-repeat: no-repeat;
        margin:0;
        min-height:250px;
        height:700px;
    }
    
    #picture4{
        background-image: url('../images/location mobile.png');
        background-position:center;
        background-repeat: no-repeat;
        margin:100px 0;
        min-height:250px;
        height:550px;
    }
    
    #picture5{
        background-image: url('../images/local infrustructure mobile.jpg');
        background-position:center;
        background-repeat: no-repeat;
        margin:100px 0;
        min-height:250px;
        height:350px;  
    }
    
    #picture6{
        background-image: url('../images/project layout mobile.jpg');
        background-position:center;
        background-repeat: no-repeat;
        margin:100px 0;
        min-height:250px;
        height:350px;
    }
    
    #picture7{
        background-image: url('../images/zambia electricity mobile.jpg');
        background-position:center;
        background-repeat: no-repeat;
        margin:10px 0;
        min-height:550px;
        height:350px;
    }
    
    #picture10{
        background-image: url('../images/project finance mobile.png');
        background-position: center center;
        background-repeat: no-repeat;
        margin:10px 0;
        min-height:250px;
        height:900px;
    }    
}
