{% set page_ref = "contactus" %}
{% set page_name = "Contact Us" %}

{% extends "layout.njk" %}

{% block content %}
    <div class="container">
        <section id="header">
            <h1>CONTACT US</h1>
        </section>
        <div class="contact">
            <ul>
                <li>Western Power Company Ltd</li>
                <li>Fig Tree House</li> 
                <li>17 Warthog Road</li>
                    <li>Box 320181, Kabulonga</li> 
                    <li>Lusaka</li> 
                    <li>Zambia</li> 
            </ul>
            <ul>        
                <li>Tel: +26 0211 262 773</li> 
                <li>Email:<a href="info@westernpower.org">info@westernpower.org</a></li> 
            </ul>
        </div>
    </div>
{% endblock %}