{% set page_ref = "index" %}
{% set page_name = "Home" %}

{% extends "layout.njk" %}

{% block content %}
    <div class="container">
        <section id="showcase">
            <div class="container"></div>
        </section>

        <section id="title">
            <h1>NGONYE FALLS HYDROELECTRIC POWER PROJECT</h1>
        </section>

        <section id="main1">
            <p>
                Western Power Company is a Zambian Power developer building the Ngonye run-of-river hydraulic power scheme on the Zambezi river in the western province of Zambia, (the project)
            </p>
            <p>
                The Ngonye Falls project will generate 180MW of clean, renewable energy for the people of Zambia and the Western Province. 
            </p>
            <p>
                The project is being developed and will be operated to the highest standards of environmental and social responsibility by a team of Zambian and international specialists.      
            </p>
        </section>
    </div>
{% endblock %}

